/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.progressBar.done:after {
  content: "...";
}

* {
  cursor: default;
}

#loadingScreen {
  width: 100%;
  text-align: center;
}

td[colspan] {
  text-align: right;
}

#loadingScreen tr td h1:after {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    content: "   "
  }
  25% {
    content: ".  "
  }
  50% {
    content: ".. "
  }
  75% {
    content: "..."
  }
  100% {
    content: "   "
  }
}

body {
  font-size: 22px;
  font-family: sans-serif;
  min-height: 500px;
  min-width: 600px;
}

.showScreen {
  display: table;
}

.hideScreen {
  display: none;
}

#information,
#summary {
  text-align: center;
  margin: auto;
}

#maingame {
  margin: auto;
}

.counter {
  width: 22px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 100px;
}

#mute {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#mute.on {
  background-image: url("images/mute-on.jpg");
}

#mute.off {
  background-image: url("images/mute-off.jpg");
}

button {
  font-size: 16pt;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
}

button.runButton {
  background-color: #309c4d;
  border-bottom: 3px solid #24753a;
}

button.upgradeButton {
  background-color: #3366ff;
  border-bottom: 3px solid #0040ff;
}

button.hire,
button.fire,
button.closeInformation,
button.closeSummary {
  background-color: #ff3300;
  border-bottom: 3px solid #cc2900;
}

button.showInformation {
  background-color: #9933ff;
  border-bottom: 3px solid #8000ff;
  cursor: help;
}

button:disabled {
  background-color: #d9d9d9;
  border-bottom: 3px solid #bfbfbf;
  color: #bfbfbf;
  cursor: not-allowed;
}

.progressBar {
  width: 50%;
  padding-left: 10px;
  border-radius: 5px;
  background: linear-gradient(#FF9900, #FFB84D, #FF9900);
  background-color: #F2F2F2;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 0 100%;
}

.play {
  animation-name: bar-animation;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: none;
}

/* Progress bar animations */
@keyframes bar-animation {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.progressBar[name="bike"] {
  animation-duration: .5s !important;
}

.progressBar[name="taxi"] {
  animation-duration: 3s;
}

.progressBar[name="bus"] {
  animation-duration: 6s;
}

.progressBar[name="tram"] {
  animation-duration: 12s;
}

.progressBar[name="ferry"] {
  animation-duration: 24s;
}

.progressBar[name="subway"] {
  animation-duration: 48s;
}

.progressBar[name="train"] {
  animation-duration: 96s;
}

.progressBar[name="planerent"] {
  animation-duration: 192s;
}

.progressBar[name="smplane"] {
  animation-duration: 384s;
}

.progressBar[name="mdplane"] {
  animation-duration: 768s;
}

.progressBar[name="lgplane"] {
  animation-duration: 1536s;
}

.progressBar[name="lgship"] {
  animation-duration: 3072s;
}
